@import '../../../styles';

.input_text {
    color: $primary-text-color;
    background-color: $light-color;
    border-radius: 10px;

    width:60%;
    min-width: 50px;
    min-height: 40px;
    border: none;
    padding: 1pc;
    margin: 1rem;
}