@import '../../styles';

.content {
    grid-area: header;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: $primary-color;
}

.logo {
    color: #e2e2e2;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}


.burger {
    // display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 2px;
    background-color: #e2e2e2;
    margin: 5px;
    transition: all 0.3s ease;
}

.loginBlock {
    cursor: pointer;
    float: right;
}

.loginLink {

    color: #e2e2e2;
    text-decoration: none;
}