.content {
    color: #ffffff;
    padding: 5px;
    grid-area: header;
    background-color: #060c1d;
    display: flex;
    justify-content: center;
    text-align: center;
    border: solid;
    border-width: 1px 0;
    border-color: #ffffff;
}

.logo {
    padding: 5px;
    display: flex;
    align-items: center;
    border: solid;
    border-width: 1px 0;
    border-color: #ffffff;
}

.image {
    margin: auto;
    padding: 10px;
    overflow: auto;
}