.nav {
    grid-area: nav;
    color: #d3d3d3;
    background-color: #060c1d;
    border: solid;
    border-width: 0 1px;
    border-color: #ffffff;
}

.content {
    margin: 5%;
    background-color: #060c1d;
    padding: 3%;
    opacity: 0.8;
    border: solid;
    border-width: 0 1px;
    border-color: #03030e;
}

.content:hover {
    border: solid;
    border-width: 0 1px;
    border-color: #ffffff;
}

.content a {
    padding: auto;
    display: block;
    text-decoration: none;
    color: #ffffff;
}

.content a.activeLink {
    color: #2345a1;
}