@import '../../styles';

.nav {
    grid-area: nav;
    color: #d3d3d3;
    background-color: $primary-color;
}

.content {
    margin: 5%;
    background-color: $light-color;
    padding: 3%;
    opacity: 0.8;
    border-radius: 5px;
}

.content:hover {
    opacity: 1;
}


.content a {
    padding: auto;
    display: block;
    text-decoration: none;
    color: #134879;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
}