.nav {
    grid-area: nav;
    color: #d3d3d3;
    background-color: #6daffe;
}

.content {
    margin: 5%;
    background-color: #cce0f8;
    padding: 3%;
    opacity: 0.8;
}

.content:hover {
    background-color: #c1d9f6;
}


.content a {
    padding: auto;
    display: block;
    text-decoration: none;
    color: #134879;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
}