@media screen and (max-width: 1100px) {
  .app-wrapper {
    font-size: 20px;
  }
}

@media screen and (max-width: 900px) {
  .app-wrapper {
    font-size: 15px;
  }
}

@media screen and (max-width: 700px) {
  .app-wrapper {
    font-size: 10px;
  }
}

@media screen and (max-width: 500px) {
  .app-wrapper {
    font-size: 8px;
  }
}

@media screen and (max-width: 400px) {
  .app-wrapper {
    font-size: 6px;
  }
}
