@import 'styles';

body {
    background-color: #d8dce7;
    // font-family: 'Work Sans', sans-serif;
    font-family: 'Muli', sans-serif;
}

.app-wrapper {
    opacity: 0.9;
    margin: auto;
    margin-top: 5px;
    width: 80%;
    display: grid;
    grid-template-areas: "header header" "nav content";
    grid-template-rows: 0.2fr 10fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    font-size: 23px;
    justify-content: center;
}

.app-wrapper-content {
    grid-area: content;
    color: #ffffff;
    background-color: $primary-color;
    padding: 10px;
}