body {
    background-color: #EDEEF0;
}

.app-wrapper {
    opacity: 0.9;
    margin: auto;
    margin-top: 0.5%;
    width: 80%;
    display: grid;
    grid-template-areas: "header header" "nav content";
    grid-template-rows: 0.4fr 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    font-size: 23px;
    justify-content: center;
}